{% extends './info.html' %}
{% block personInfo %} 
        
<br/>
<div style="flex-direction: column;">
    <div>
        <br/><br/><br/>
        <h1 class="h1 mb-3 fw-normal">請輸入訂購人基本資料</h1>
    </div>
    <br/>
        <div class="form-floating">
            <label for="Name">姓名</label>
            
            <div id="Nameframe">
                <input type="text" class="form-control" id="Name" placeholder="姓名" required>
            </div>
        </div>
            <br/>
        <div class="form-floating">
            <label for="studentID">學號</label>
            <div id="IDframe">
                <input type="text" class="form-control" id="studentID" placeholder="學號" pattern="[a-zA-Z]{1}[0-9]{7}" required>
            </div>
            <br/><br/>
            <button class="w-100 btn btn-lg btn-primary" type="submit" id="next">確認送出</button>
        </div>
    
</div>

{% endblock personInfo %}