<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li>Logo</li>
        <li class="nav-item"><h2>國立宜蘭大學XXXX系XXXX活動訂票網站</h2></li>
        <div class="text-end" style="float: right;">
          <button type="button" class="btn btn-outline-dark me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
        
        
      </ul>
    </div>
  </nav>


<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <h5 class="fs-4">座位資訊 : </h5>
      </a>
      <ul class="showcase">
        <li>
            <div class="seat high"></div>
            <small>250元未選取</small>
        </li>
        <li>
            <div class="seat low"></div>
            <small>150元未選取</small>
        </li>
        <li>
          <div class="seat prior"></div>
          <small>食品系優先購買</small>
      </li>
        <li>
            <div class="seat selected"></div>
            <small>選擇項目</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>已售出</small>
        </li>
        <li>
            <div class="seat unallowed"></div>
            <small>未開放</small>
        </li>
    </ul>
    
    </div>
</header>



<script>
  document.getElementById('main').onclick = () => {
    sessionStorage.clear()
    window.location = '/'
  }

  document.getElementById('record').onclick = () => {
    sessionStorage.clear()
    window.location = '/result'
  }
</script>



