<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li>Logo</li>
      <li class="nav-item"><h2>國立宜蘭大學XXXX系XXXX活動訂票網站</h2></li>
      <li class="nav-item"><a href="/search" class="nav-link link-dark px-2 active" aria-current="page">訂票紀錄</a></li>
      <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">訂票首頁</a></li>
      <li class="nav-item"><a href="/super/login" class="nav-link link-dark px-2 active" aria-current="page">後台管理</a></li>
    </ul>
  </div>
</nav>




