<div>
    <div class="space">
        <h2>舞台</h2>
    </div>
    <div class="seatcontainer high">
        <div class="rowseat">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat unallowed" data-seat="1-1"></div>
            <div class="seat unallowed" data-seat="1-2"></div>
            <div class="seat unallowed" data-seat="1-3"></div>
            <div class="seat unallowed" data-seat="1-4"></div>
        
            <div class="seat unallowed" data-seat="1-5"></div>
            <div class="seat unallowed" data-seat="1-6"></div>
            <div class="seat unallowed" data-seat="1-7"></div>
            <div class="seat unallowed" data-seat="1-8"></div>
            <div class="seat unallowed" data-seat="1-9"></div>
            <div class="seat unallowed" data-seat="1-10"></div>
            <div class="seat unallowed" data-seat="1-11"></div>
            <div class="seat unallowed" data-seat="1-12"></div>
            <div class="seat unallowed" data-seat="1-13"></div>
        
            <div class="seat unallowed" data-seat="1-14"></div>
            <div class="seat unallowed" data-seat="1-15"></div>
            <div class="seat unallowed" data-seat="1-16"></div>
            <div class="seat unallowed" data-seat="1-17"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
                

        <div class="rowseat">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat unallowed" data-seat="2-1"></div>
            <div class="seat unallowed" data-seat="2-2"></div>
            <div class="seat unallowed" data-seat="2-3"></div>
            <div class="seat unallowed" data-seat="2-4"></div>
        
            <div class="seat unallowed" data-seat="2-5"></div>
            <div class="seat unallowed" data-seat="2-6"></div>
            <div class="seat unallowed" data-seat="2-7"></div>
            <div class="seat unallowed" data-seat="2-8"></div>
            <div class="seat unallowed" data-seat="2-9"></div>
            <div class="seat unallowed" data-seat="2-10"></div>
            <div class="seat unallowed" data-seat="2-11"></div>
            <div class="seat unallowed" data-seat="2-12"></div>
            <div class="seat unallowed" data-seat="2-13"></div>
    
        
            <div class="seat unallowed" data-seat="2-14"></div>
            <div class="seat unallowed" data-seat="2-15"></div>
            <div class="seat unallowed" data-seat="2-16"></div>
            <div class="seat unallowed" data-seat="2-17"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>

        <div class="rowseat">
            <div class="seat"></div>
                <div class="seat high" data-seat="3-1"></div>
                <div class="seat high" data-seat="3-2"></div>
                <div class="seat high" data-seat="3-3"></div>
                <div class="seat high" data-seat="3-4"></div>
                <div class="seat high" data-seat="3-5"></div>
            
                <div class="seat unallowed" data-seat="3-6"></div>
                <div class="seat unallowed" data-seat="3-7"></div>
                <div class="seat unallowed" data-seat="3-8"></div>
                <div class="seat unallowed" data-seat="3-9"></div>
                <div class="seat unallowed" data-seat="3-10"></div>
                <div class="seat unallowed" data-seat="3-11"></div>
                <div class="seat unallowed" data-seat="3-12"></div>
                <div class="seat unallowed" data-seat="3-13"></div>
                <div class="seat unallowed" data-seat="3-14"></div>
            
                <div class="seat high" data-seat="3-15"></div>
                <div class="seat high" data-seat="3-16"></div>
                <div class="seat high" data-seat="3-17"></div>
                <div class="seat high" data-seat="3-18"></div>
                <div class="seat high" data-seat="3-19"></div>
                <div class="seat high" data-seat="3-20"></div>
           
        
        </div>

        <div class="rowseat">
            <div class="seat"></div>
            <div class="seat high" data-seat="4-1"></div>
            <div class="seat high" data-seat="4-2"></div>
            <div class="seat high" data-seat="4-3"></div>
            <div class="seat high" data-seat="4-4"></div>
            <div class="seat high" data-seat="4-5"></div>
    
            <div class="seat high prior" data-seat="4-6"></div>
            <div class="seat high prior" data-seat="4-7"></div>
            <div class="seat high prior" data-seat="4-8"></div>
            <div class="seat high prior" data-seat="4-9"></div>
            <div class="seat high prior" data-seat="4-10"></div>
            <div class="seat high prior" data-seat="4-11"></div>
            <div class="seat high prior" data-seat="4-12"></div>
            <div class="seat high prior" data-seat="4-13"></div>
            <div class="seat high prior" data-seat="4-14"></div>
    
            <div class="seat high" data-seat="4-15"></div>
            <div class="seat high" data-seat="4-16"></div>
            <div class="seat high" data-seat="4-17"></div>
            <div class="seat high" data-seat="4-18"></div>
            <div class="seat high" data-seat="4-19"></div>
            <div class="seat high" data-seat="4-20"></div>
        </div>

        <div class="rowseat">
            <div class="seat"></div>
            <div class="seat high" data-seat="5-1"></div>
            <div class="seat high" data-seat="5-2"></div>
            <div class="seat high" data-seat="5-3"></div>
            <div class="seat high" data-seat="5-4"></div>
            <div class="seat high" data-seat="5-5"></div>
    
            <div class="seat high prior" data-seat="5-6"></div>
            <div class="seat high prior" data-seat="5-7"></div>
            <div class="seat high prior" data-seat="5-8"></div>
            <div class="seat high prior" data-seat="5-9"></div>
            <div class="seat high prior" data-seat="5-10"></div>
            <div class="seat high prior" data-seat="5-11"></div>
            <div class="seat high prior" data-seat="5-12"></div>
            <div class="seat high prior" data-seat="5-13"></div>
            <div class="seat high prior" data-seat="5-14"></div>
        
            <div class="seat high" data-seat="5-15"></div>
            <div class="seat high" data-seat="5-16"></div>
            <div class="seat high" data-seat="5-17"></div>
            <div class="seat high" data-seat="5-18"></div>
            <div class="seat high" data-seat="5-19"></div>
            <div class="seat high" data-seat="5-20"></div>
        </div>

        <div class="rowseat">
            <div class="seat"></div>
            <div class="seat high" data-seat="6-1"></div>
            <div class="seat high" data-seat="6-2"></div>
            <div class="seat high" data-seat="6-3"></div>
            <div class="seat high" data-seat="6-4"></div>
            <div class="seat high" data-seat="6-5"></div>
    
            <div class="seat high prior" data-seat="6-6"></div>
            <div class="seat high prior" data-seat="6-7"></div>
            <div class="seat high prior" data-seat="6-8"></div>
            <div class="seat high prior" data-seat="6-9"></div>
            <div class="seat high prior" data-seat="6-10"></div>
            <div class="seat high prior" data-seat="6-11"></div>
            <div class="seat high prior" data-seat="6-12"></div>
            <div class="seat high prior" data-seat="6-13"></div>
            <div class="seat high prior" data-seat="6-14"></div>
        
            <div class="seat high" data-seat="6-15"></div>
            <div class="seat high" data-seat="6-16"></div>
            <div class="seat high" data-seat="6-17"></div>
            <div class="seat high" data-seat="6-18"></div>
            <div class="seat high" data-seat="6-19"></div>
            <div class="seat high" data-seat="6-20"></div>
    
        </div>

        <div class="rowseat">
            <div class="seat unallowed" data-seat="7-1"></div>
            <div class="seat unallowed" data-seat="7-2"></div>
            <div class="seat unallowed" data-seat="7-3"></div>
            <div class="seat unallowed" data-seat="7-4"></div>
            <div class="seat unallowed" data-seat="7-5"></div>
            <div class="seat unallowed" data-seat="7-6"></div>

            <div class="seat high" data-seat="7-7"></div>
            <div class="seat high" data-seat="7-8"></div>
            <div class="seat high" data-seat="7-9"></div>
            <div class="seat high" data-seat="7-10"></div>
            <div class="seat high" data-seat="7-11"></div>
            <div class="seat high" data-seat="7-12"></div>
            <div class="seat high" data-seat="7-13"></div>
            <div class="seat high" data-seat="7-14"></div>
            <div class="seat high" data-seat="7-15"></div>

            <div class="seat unallowed" data-seat="7-16"></div>
            <div class="seat unallowed" data-seat="7-17"></div>
            <div class="seat unallowed" data-seat="7-18"></div>
            <div class="seat unallowed" data-seat="7-19"></div>
            <div class="seat unallowed" data-seat="7-20"></div>
            <div class="seat unallowed" data-seat="7-21"></div>
        </div>

        <div class="rowseat">
            <div class="seat unallowed" data-seat="8-1"></div>
            <div class="seat unallowed" data-seat="8-2"></div>
            <div class="seat unallowed" data-seat="8-3"></div>
            <div class="seat unallowed" data-seat="8-4"></div>
            <div class="seat unallowed" data-seat="8-5"></div>
            <div class="seat unallowed" data-seat="8-6"></div>

            <div class="seat high" data-seat="8-7"></div>
            <div class="seat high" data-seat="8-8"></div>
            <div class="seat high" data-seat="8-9"></div>
            <div class="seat high" data-seat="8-10"></div>
            <div class="seat high" data-seat="8-11"></div>
            <div class="seat high" data-seat="8-12"></div>
            <div class="seat high" data-seat="8-13"></div>
            <div class="seat high" data-seat="8-14"></div>
            <div class="seat high" data-seat="8-15"></div>

            <div class="seat unallowed" data-seat="8-16"></div>
            <div class="seat unallowed" data-seat="8-17"></div>
            <div class="seat unallowed" data-seat="8-18"></div>
            <div class="seat unallowed" data-seat="8-19"></div>
            <div class="seat unallowed" data-seat="8-20"></div>
            <div class="seat unallowed" data-seat="8-21"></div>
        </div>

        </div>

        <div class="space">
            <h2>走道</h2>
        </div>

        <div class="seatcontainer low">
            <div class="rowseat">
                <div class="seat low" data-seat="9-1"></div>
                <div class="seat low" data-seat="9-2"></div>
                <div class="seat low" data-seat="9-3"></div>
                <div class="seat low" data-seat="9-4"></div>
                <div class="seat low" data-seat="9-5"></div>
                <div class="seat low" data-seat="9-6"></div>

                <div class="seat low prior" data-seat="9-7"></div>
                <div class="seat low prior" data-seat="9-8"></div>
                <div class="seat low prior" data-seat="9-9"></div>
                <div class="seat low prior" data-seat="9-10"></div>
                <div class="seat low prior" data-seat="9-11"></div>
                <div class="seat low prior" data-seat="9-12"></div>
                <div class="seat low prior" data-seat="9-13"></div>
                <div class="seat low prior" data-seat="9-14"></div>
                <div class="seat low prior" data-seat="9-15"></div>

                <div class="seat low" data-seat="9-16"></div>
                <div class="seat low" data-seat="9-17"></div>
                <div class="seat low" data-seat="9-18"></div>
                <div class="seat low" data-seat="9-19"></div>
                <div class="seat low" data-seat="9-20"></div>
                <div class="seat low" data-seat="9-21"></div>
            </div>

            <div class="rowseat">
                <div class="seat low" data-seat="10-1"></div>
                <div class="seat low" data-seat="10-2"></div>
                <div class="seat low" data-seat="10-3"></div>
                <div class="seat low" data-seat="10-4"></div>
                <div class="seat low" data-seat="10-5"></div>
                <div class="seat low" data-seat="10-6"></div>

                <div class="seat low prior" data-seat="10-7"></div>
                <div class="seat low prior" data-seat="10-8"></div>
                <div class="seat low prior" data-seat="10-9"></div>
                <div class="seat low prior" data-seat="10-10"></div>
                <div class="seat low prior" data-seat="10-11"></div>
                <div class="seat low prior" data-seat="10-12"></div>
                <div class="seat low prior" data-seat="10-13"></div>
                <div class="seat low prior" data-seat="10-14"></div>
                <div class="seat low prior" data-seat="10-15"></div>

                <div class="seat low" data-seat="10-16"></div>
                <div class="seat low" data-seat="10-17"></div>
                <div class="seat low" data-seat="10-18"></div>
                <div class="seat low" data-seat="10-19"></div>
                <div class="seat low" data-seat="10-20"></div>
                <div class="seat low" data-seat="10-21"></div>
            </div>

            <div class="rowseat">
                <div class="seat low" data-seat="11-1"></div>
                <div class="seat low" data-seat="11-2"></div>
                <div class="seat low" data-seat="11-3"></div>
                <div class="seat low" data-seat="11-4"></div>
                <div class="seat low" data-seat="11-5"></div>
                <div class="seat low" data-seat="11-6"></div>

                <div class="seat low prior" data-seat="11-7"></div>
                <div class="seat low prior" data-seat="11-8"></div>
                <div class="seat low prior" data-seat="11-9"></div>
                <div class="seat low prior" data-seat="11-10"></div>
                <div class="seat low prior" data-seat="11-11"></div>
                <div class="seat low prior" data-seat="11-12"></div>
                <div class="seat low prior" data-seat="11-13"></div>
                <div class="seat low prior" data-seat="11-14"></div>
                <div class="seat low prior" data-seat="11-15"></div>

                <div class="seat low" data-seat="11-16"></div>
                <div class="seat low" data-seat="11-17"></div>
                <div class="seat low" data-seat="11-18"></div>
                <div class="seat low" data-seat="11-19"></div>
                <div class="seat low" data-seat="11-20"></div>
                <div class="seat low" data-seat="11-21"></div>
            </div>

            <div class="rowseat">
                <div class="seat low" data-seat="12-1"></div>
                <div class="seat low" data-seat="12-2"></div>
                <div class="seat low" data-seat="12-3"></div>
                <div class="seat low" data-seat="12-4"></div>
                <div class="seat low" data-seat="12-5"></div>
                <div class="seat low" data-seat="12-6"></div>

                <div class="seat low" data-seat="12-7"></div>
                <div class="seat low" data-seat="12-8"></div>
                <div class="seat low" data-seat="12-9"></div>
                <div class="seat low" data-seat="12-10"></div>
                <div class="seat low" data-seat="12-11"></div>
                <div class="seat low" data-seat="12-12"></div>
                <div class="seat low" data-seat="12-13"></div>
                <div class="seat low" data-seat="12-14"></div>
                <div class="seat low" data-seat="12-15"></div>

                <div class="seat low" data-seat="12-16"></div>
                <div class="seat low" data-seat="12-17"></div>
                <div class="seat low" data-seat="12-18"></div>
                <div class="seat low" data-seat="12-19"></div>
                <div class="seat low" data-seat="12-20"></div>
                <div class="seat low" data-seat="13-21"></div>
            </div>

            <div class="rowseat">
                <div class="seat low" data-seat="13-1"></div>
                <div class="seat low" data-seat="13-2"></div>
                <div class="seat low" data-seat="13-3"></div>
                <div class="seat low" data-seat="13-4"></div>
                <div class="seat low" data-seat="13-5"></div>
                <div class="seat low" data-seat="13-6"></div>

                <div class="seat low" data-seat="13-7"></div>
                <div class="seat low" data-seat="13-8"></div>
                <div class="seat low" data-seat="13-9"></div>
                <div class="seat low" data-seat="13-10"></div>
                <div class="seat low" data-seat="13-11"></div>
                <div class="seat low" data-seat="13-12"></div>
                <div class="seat low" data-seat="13-13"></div>
                <div class="seat low" data-seat="13-14"></div>
                <div class="seat low" data-seat="13-15"></div>

                <div class="seat low" data-seat="13-16"></div>
                <div class="seat low" data-seat="13-17"></div>
                <div class="seat low" data-seat="13-18"></div>
                <div class="seat low" data-seat="13-19"></div>
                <div class="seat low" data-seat="13-20"></div>
                <div class="seat low" data-seat="13-21"></div>
            </div>

        </div>
</div>
